@model Test
@{ 
    int index = 0;
}
<div class="text-center bg-light">
    <form asp-action="ShowResultPage" method="post">
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="Category" />
        <input type="hidden" asp-for="Count" />

        @foreach (var question in Model.Questions)
        {
            <input type="hidden" asp-for="Questions[index].Text" value="@question.Text" />
            <input type="hidden" asp-for="Questions[index].ImagePath" value="@question.ImagePath" />
            <input type="hidden" asp-for="Questions[index].ExpectedAnswer" value="@question.ExpectedAnswer" />
            
            <hr class="font-weight-bold" />
            <div class="form-group m-5 p-2">

                <div class="form-group">
                    <h2 class="form-control-plaintext">@question.Text</h2>
                    <img src="~/images/@question.ImagePath" class="form-control-file" />
                </div>

                <div class="collapse d-sm-inline-flex">
                    <div class="form-group m-3">
                        <label asp-for="Questions[index].ActualAnswer">А</label>
                        <input type="radio" asp-for="Questions[index].ActualAnswer" value="@Domain.Answers.A" class="form-control" />
                    </div>

                    <div class="form-group m-3">
                        <label asp-for="Questions[index].ActualAnswer">Б</label>
                        <input type="radio" asp-for="Questions[index].ActualAnswer" value="@Domain.Answers.B" class="form-control" />
                    </div>

                    <div class="form-group m-3">
                        <label asp-for="Questions[index].ActualAnswer">В</label>
                        <input type="radio" asp-for="Questions[index].ActualAnswer" value="@Domain.Answers.C" class="form-control" />
                    </div>

                    <div class="form-group m-3">
                        <label asp-for="Questions[index].ActualAnswer">Г</label>
                        <input type="radio" asp-for="Questions[index].ActualAnswer" value="@Domain.Answers.G" class="form-control" />
                    </div>

                    <div class="form-group m-3">
                        <label asp-for="Questions[index].ActualAnswer">Д</label>
                        <input type="radio" asp-for="Questions[index].ActualAnswer" value="@Domain.Answers.D" class="form-control" />
                    </div>
                </div>
            </div>
            index++;
        }
        <button>Завершити</button>
    </form>
</div>